@mixin font-settings {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}

.post:nth-of-type(2n + 1) {
  margin-right: 13px;
}

.post {
  border: 5px solid #27569c;
  border-radius: 5px;
  width: 467px;
  height: 388px;
  margin-bottom: 20px;

  &__user {
    display: flex;
    margin-top: 25px;
    margin-left: 21px;
    @include font-settings;
  }

  &__title {
    margin-top: 11px;
    margin-bottom: 24px;
    margin-left: 21px;
    @include font-settings;
  }

  &__body {
    margin-left: 21px;
    @include font-settings;
  }

  &__author {
    margin-bottom: 11px;
  }

  &__photo {
    width: 150px;
    height: 150px;
    background: red;
  }

  &__right {
    margin-left: 30px;
  }
}

@media screen and (max-width: 744px) {
  .post {
    width: 325px;
    height: 470px;

    &__user {
      flex-direction: column;
      margin: 0;
    }

    &__right {
      margin-left: 0;
    }

    &__author {
      margin-top: 22px;
      margin-bottom: 8px;
      margin-left: 25px;
    }

    &__company {
      margin-left: 25px;
      margin-bottom: 8px;
    }

    &__title {
      margin-bottom: 8px;
      margin-left: 24px;
    }

    &__photo {
      margin-top: 25px;
      margin-left: 24px;
    }

    &__body {
      margin-left: 26px;
    }
  }
}

@media screen and (max-width: 500px) {
  .post {
    width: 292px;
    margin-left: 13px;
    margin-right: 15px;
    height: 200px;

    &__author {
      margin-top: 12px;
      margin-left: 17px;
      margin-bottom: 17px;
    }

    &__company {
      margin-left: 17px;
      margin-bottom: 17px;
    }

    &__title {
      margin-left: 17px;
    }

    &__photo {
      display: none;
    }

    &__body {
      display: none;
    }
  }
}
